{{define "footer"}}
<div class="container mt-auto">
  <footer
    class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"
  >
    <p class="col-md-4 mb-0 text-muted">
      &copy; <span id="year"></span> Company, Inc
    </p>

    <ul class="nav col-md-4 justify-content-end">
      <!-- <li class="nav-item">
        <a href="#" class="nav-link px-2 text-muted">FAQs</a>
      </li> -->
      <li class="nav-item text-muted">
        Powered by <a href="https://golang.org">Go</a>
      </li>
    </ul>
  </footer>
  <script>
    const id = document.getElementById("year");
    const today = new Date();
    id.innerHTML = today.getFullYear();
  </script>
</div>
{{ end }}
