{{template "base" .}}

{{define "title"}}Snippet #{{.Snippet.ID}}{{ end }}

{{define "body"}}
<div class="card">
  <!--prettier-ignore-->
  {{ with .Snippet }}
  <div class="card-header d-flex justify-content-between">
    <strong>{{.Title}}</strong>
    <span>{{.ID}}</span>
  </div>
  <div class="card-body fs-4">
    <pre><code>
          {{.Content}}
        </code></pre>
  </div>
  <div class="card-footer text-muted d-flex justify-content-between">
    <time>Created: {{.Created | humanDate}}</time>
    <time>{{.Expires | humanDate | printf "Expires: %s"}}</time>
  </div>
  {{ end }}
</div>
{{ end }}
