{{template "base" .}}

{{define "title"}}Snippet #{{.Snippet.ID}}{{ end }}

{{define "body"}}
<div class="card">
  <div class="card-header d-flex justify-content-between">
    <strong>{{.Snippet.Title}}</strong>
    <span>{{.Snippet.ID}}</span>
  </div>
  <div class="card-body fs-4">
    <pre><code>
        {{.Snippet.Content}}
      </code></pre>
  </div>
  <div class="card-footer text-muted d-flex justify-content-between">
    <time>Created: {{.Snippet.Created}}</time>
    <time>Expires: {{.Snippet.Expires}}</time>
  </div>
</div>
{{ end }}
